*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainColor: #F02868;
}

body{
    /*Font*/
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fluid-container {}

